* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
/* check high score/timer */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    height: 50px;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    
}

.score-btn {
    text-decoration: none;
    font-size: 15px;
    border: 0;
    background-color: #fff;
}

.score-btn:hover {
    color: purple;
}

/* main area/questions */
#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 500px;
}

.quizContainer {
    display: grid;
    gap: 10px 10px;
    justify-content: center;
    align-items: center;
}

/* questions */
#questions {
    line-height: 1.3;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    align-self: baseline;
    
}

/* final score/initials */
#final-score, 
#initials {
    font-size: 15px;
}

#initials-text {
    font-size: 15px;
    resize: none;
}


/* buttons */
#start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn {
    color: white;
    background-color: purple;
    font-size: 15px;
    font-weight: lighter;
    padding: 10px 20px;
    border-style: none;

}

.btn:hover {
    background-color: plum;
}

/* answer right/wrong */
#answer-area {
    display: grid;
    gap: 10px 10px;
    border-top: 5px black;
}

#answer-result {
    text-align: left;
}

/* Media Query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    #questions {
        font-size: 20px;
    }
}